@model CleanArch.Application.ViewModels.CourseViewModel

<div class="container body-context">
    <div class="row course-context">
    @foreach (var item in Model.Courses)
    {
        <div class="course-image-container">
            <div class="course-image" style="background-image: url(@item.ImageUrl)">
            </div>
        </div>
        <span>@item.Name</span>
    }

    </div>
</div>